<?xml version="1.0" encoding="UTF-8" ?>

<suite name="guru99_framework">

    <listeners>
        <listener class-name="com.guru99.utilities.reporting"/>
    </listeners>


    <test name="testcases">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="com.guru99.testcases.TC_logintest_001_Test"></class>
            <class name="com.guru99.testcases.TC_logintestDDT_002_Test"></class>
            <class name="com.guru99.testcases.TC_AddCustomer_001_Test"></class>
        </classes>
    </test>


</suite>